<div id="fb-root"></div>
<%flyer=@flyer%>

<%return unless flyer and flyer.image%>	
<div class='fullpage_flyer' >
  <a href='<%=flyer.image.url%>'><img border=0  width=100% src='<%=flyer.image.url(:original)%>' ></a>
  <div class='fullpage_flyer_footer'>
    <div class=''>
      <span class='flyer_category'>
        <%=flyer.category%>
      </span>
      <%if flyer.title and not flyer.title.empty? %>  
      <span class=''>
        <%=flyer.title%>
      </span>
      <%end%>
      <div style='float:right'>
        <span class='fullpage_flyer_when'><%=flyer.date_string%></span>
      </div>
    </div>
    <div style='clear:both'></div>
  </div>


  
	<%if current_user.try("admin?")%>
		<%=render(:partial=>'shared/flyer_admin_hud',:locals=>{:flyer=>flyer})%>
	<%end%>
