<%flyer=flyer%>
<%return unless flyer%>
<%width=400%>
<div class='flyer_admin' id="flyer_admin_<%=flyer.id%>" style='margin-top:10px;width:<%=width%>px '>
<%= simple_form_for flyer, remote: true do |f|%>
						
<!-- <%=f.input :score, as: :hidden%> -->
<%=f.input :id, as: :hidden%>
  
<%=f.input :super_title, {placeholder:'super title',  label:false,input_html:{size:30}}%>
<%=f.input :web_title, {placeholder:'web title',  label:false,input_html:{size:60}}%>
<%=f.input :email_title, {placeholder:'email title',  label:false,input_html:{size:60}}%>
<%= f.input :url,  {placeholder:'url',  label:false,input_html:{size:60}}%>
<%= f.input :buzz,  {placeholder:'blurb /pre-break',  label:false,input_html:{cols:58,rows:5}}%>
<%= f.input :webSummary,  {placeholder:'summary from website',  label:false,input_html:{cols:58,rows:5}}%>
<%= f.input :webHighlight,  {placeholder:'website highlight',  label:false,input_html:{cols:58,rows:5}}%>
<%=f.input :body, {placeholder:'post-break',  label:false,input_html:{cols:58,rows:50}}%>
<!-- <%= f.input :score, {collection:0..3}%> -->
<%= f.input :date_type, {collection:['singleDate','multipleDates','ongoing']}%>
<%= f.input :start_date, {as: :date, discard_time:true}%>
<%if flyer.date_type=='multipleDates'%>
  <%= f.input :end_date, {as: :date, discard_time:true}%>
<%end%>
  <%= f.input :featured, inline_label: 'Featured' %>
  
<%= f.button :submit %>
  <a href='/flyers/<%=flyer.id%>/delete'>delete</a>
<%end%>
</div>
