<%flyer=flyer%>
<%return unless flyer%>
<%width||=300%>
<div class='flyer_admin' id="flyer_admin_<%=flyer.id%>" style='width:<%=width%>px '>
<%= simple_form_for flyer, remote: true do |f|%>
						
<%=f.input :score, as: :hidden%>
<%=f.input :id, as: :hidden%>
	<div class='flyer_id'><%=flyer.id%></div>
  <%= f.input :title, {as: :text, placeholder:'title', label:false,input_html:{cols:38,rows:1}}%>
  <%= f.input :buzz, {placeholder:'buzz',label:false,input_html:{cols:38,rows:1}}%>
  <%= f.input :score, {collection:0..3}%>
  <%= f.input :date_type, {collection:['singleDate','multipleDates','ongoing']}%>
  <%= f.input :start_date, {as: :date, discard_time:true}%>
  <%if flyer.date_type=='multipleDates'%>
    <%= f.input :end_date, {as: :date, discard_time:true}%>
  <%end%>
  
  <%= f.button :submit %>
  <a href='/flyers/<%=flyer.id%>/delete'>delete</a>
  <%end%>
</div>
