<%highlighted_class = highlighted ? 'highlighted_flyer !important' : ''%>
<div class='flyer straight_flyer <%=highlighted_class%> ' id="flyer_<%=flyer.id%>" >
	 		<!--<a href='<%=flyer_path(flyer)%>'><img border=0 src='<%=flyer.image.url(:medium)%>'  width='100%' ></a>-->
	 		<a href='/send_to_top/<%=flyer.id%>'><img border=0 src='<%=flyer.image.url(:medium)%>'  width='100%' ></a>
</div>
