<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
    <%if ENV['RAILS_ENV']!='development'%>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104147614-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-104147614-2');
      </script>
    <%end%>
		<title><%=@page_title%></title>
		<%= stylesheet_link_tag 'application' %>
		<%if @imported_event%>
  		<meta property="og:title" content="<%=@imported_event.body%>" />
  		<meta property="og:type" content="image.jpeg" />
  		<meta property="og:url" content="http://reflyer.com/flyer/<%=@imported_event.id%>" />
  		<meta property="og:image" content="<%=@imported_event.image.large_url%>" />		
    <%end%>
	</head>

	<body >
    <div id='inner_body' >
        <div style='margin-left:18px;margin-bottom:5px'>
          <a href='/'><img style='width:125px' src='/images/reflyer.png'></a>
        </div>
    <%= yield %>
</div>
</body>
	</html>
</script>



